<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Shopping List</title>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

<div class="top">
<h2>My Shopping List</h2>
</div>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
<div class="container topnav">
<div class="navbar-header">
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/#">Hi, </a></li>
<li><a href="/logout">Log Out</a></li>

</ul>


<div class="signin" >

<section id="content" >
<h2>View Shopping Lists</h2>
	<h3>Click On List To View Items </h3>
<ul class="list">
{% for item in lists.keys() %}
<li><a class="item" href="/item/{{ item }}">{{ item }}</a><a class="side" href="#">edit</a><a class="side" href="/delete_list/{{ item }}">delete</a></li>
{% endfor %}
</ul>
<div class="add">
<p><a href="/add_list">Add List</a></p>
</div>
</section>
</div>
</div>
																																																										</div>

</div>

</div>
</div>
</nav>

</body>
</html>
