<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Shopping List</title>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

<div class="top">
<h2>My Shopping List</h2>
</div>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
<div class="container topnav">
<div class="navbar-header">
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/login">Log In</a></li>
<li><a href="/signup">Register</a></li>

</ul>

<div class="signin" >
<h1>Sign In</h1>
{% if error %}
<p class=error><strong>Error:</strong>{{ error }}</p>
{% endif %}

<form form id="signup" class="signup" name="signup" method="POST">
<dl>
<div class="email">
<dt>Name</dt>
<dd><input required type="text" name="name" placeholder=" "/> </dd>
</div>

<div class="name">
<dt>Email</dt>
<dd><input required type="email" name="email" placeholder=" "/> </dd>
</div>

<div class="pass">
<dt>Password</dt>
<dd><input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" name="password" required placeholder=" "/> </dd>
</div>
</dl>

<p><input id="btn" type="submit" value="Sign Up"/> </p>
</form>


</div>

</div>

</div>
</div>
</nav>

</body>
</html>
