<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="top">
<h2>My Shopping List</h2>
</div>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/log">Log In</a></li>
                        <li><a href="/register">Register</a></li>

              </ul>
          </div>
        </div>
    </nav>


<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>