<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>SHOPPING LIST</title>-->
<!--<link href="../static/css/style.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="header-wrapper"><header id="navigation">-->
<!--<div class="left"><h1>SHOPPING LIST</h1></div>-->
<!--<div class="right">-->
<!--<ul>-->
<!--<li><a href="#">Welcome </a></li>-->
<!--<li><a href="/logout">Logout</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</header>-->
<!--</div>-->
<!--<div id='center'>-->
<!--<section id="content-add" >-->
<!--<h2>Update list item</h2>-->
<!--<form id="add" name="login" method="POST" action="">-->
<!--{% if error %}-->
<!--<p class=error><strong>Error:</strong>{{ error }}</p>-->
<!--{% endif %}-->
<!--<p>Back to lists<a href="/index"> Click here</a></p>-->
<!--<input type="text" name='list_name' placeholder="list name"/>-->
<!--<input type="text" name='item_name' placeholder="item name"/>-->
<!--<input type="text" name='new_item_name' placeholder="new item name"/>-->
<!--<input id="btn" type="submit" value="add"/>-->
<!--</form>-->
<!--</section>-->
<!--</div>-->
<!--<footer id="footer">-->
<!--<div id="center">-->
<!--<div class="text-center">-->
<!--<p>Copyright &copy; 2017 - <a href="#home">Shopping List</a> | All Rights Reserved</p>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<!--</body>-->
<!--</html>-->








<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Shopping List</title>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

<div class="top">
<h2>My Shopping List</h2>
</div>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
<div class="container topnav">
<div class="navbar-header">
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="/#">Hi, </a></li>
<li><a href="/index">View Lists</a></li>
<li><a href="/logout">Log Out</a></li>

</ul>


<div class="signin" >
<section id="content-add" >
<h2>Edit list item</h2>
<form id="add" name="login" method="POST" action="">
{% if error %}
<p class=error><strong>Error:</strong>{{ error }}</p>
{% endif %}
<div class="field">
<label>List Name</label>
<input type="text" name='list_name'/>
</div>
<div class="field">
<label>Old Items</label>
<input type="text" name='item_name'/>
</div>
<div class="field">
<label>New Items</label>
<input type="text" name='new_item_name'/>
</div>
<input id="btn" type="submit" value="Edit"/>
</form>
</section>
</div>
</div>
</div>

</div>

</div>
</div>
</nav>

</body>
</html>
